@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #42526c;
}
html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

.container {
  display: flex;
  padding: 20px;
}

.left,
.right {
  max-width: 100vh;
  margin: 10px;
}

@media all and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
